* {margin: 0; padding: 0;}

.bg{
	display: flex;
	background-color: hsl(233, 47%, 7%);
	width: 100%;
	height: 100vh;
	align-items: center;
	align-content: center;
}

.card_content{
	display: flex;
	position: relative;
	background-color: hsl(244, 38%, 16%);
	margin-left: 6%;
	margin-right: 6%;
	top: 0;
	bottom: 9%;
	height: 81%;
	border-radius: .5rem .5rem 0 0;
	box-sizing: border-box;
	overflow: hidden;
}

.card_content picture{
	position: absolute;
	width: 100%;
}

.card_content > picture > img{
	display: flex;
	position: relative;
	width: 100%; 

}

.card_content > picture > div{
	position: absolute;
	background-color: hsl(277, 64%, 61%);
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 0;
	opacity: 40%;
	box-sizing: border-box;
	filter: saturate(160%);
}

h1{
	color: white;
	font-family: 'Inter', sans-serif;
	margin-top: 3%;
    margin-left: 9%;
    margin-right: 9%;
    word-spacing: 2px;
    font-weight: 700;
    font-size: 1.7rem;
    text-align: center;
}

.info{
	position: relative;
	box-sizing: border-box;
	margin-top: 74%;
	padding-top: 20px;
}

 .descript{ 
	color: hsla(0, 0%, 100%, 0.75);
	line-height: 1.5rem;
	font-family: 'Lexend Deca', sans-serif;
	font-size: .95rem;
	font-weight: 200;
	text-align: center;
	margin-top: 1.3rem;
	margin-right: 11%;
	margin-left: 11%;
}

.statcells{
	margin-top: 11%;
	text-align: center;
}

.statcells {
	width: 100%;
	position: absolute;
}
.statcells  p{
	color: white;
	font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
}

.statcells  h2{
	font-family: 'Lexend Deca', sans-serif;
	color: hsla(0, 0%, 100%, 0.75);
	font-weight: 200;
	font-size: .8rem;
	margin-top: 1%;
}

.statcell_2{
	width: 100%;
	position: absolute;
	margin-top: 25%;
}

.statcell_2 p{
	color: white;
	font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
}

.statcell_2 h2{
	font-family: 'Lexend Deca', sans-serif;
	color: hsla(0, 0%, 100%, 0.75);
	font-weight: 200;
	font-size: .8rem;
	margin-top: 1%;
}

.statcell_3{
	width: 100%;
	position: absolute;
	margin-top: 50%;
}

.statcell_3 p{
	color: white;
	font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
}

.statcell_3 h2{
	font-family: 'Lexend Deca', sans-serif;
	color: hsla(0, 0%, 100%, 0.75);
	font-weight: 200;
	font-size: .8rem;
	margin-top: 1%;
}


@media only screen and (min-width: 376px){


.card_content{
	display: flex;
	position: relative;
	background-color: hsl(244, 38%, 16%);
	border-radius: 5px;
	box-sizing: border-box;
	height: 20%;
	width: 80%;
	margin: auto;
	border-radius: .5rem;
	padding-bottom: 33%;
	overflow: hidden;
}

.card_content > picture{
	position: absolute;
	width: 100%;
	left: 50%;
}

.card_content > picture > img {
	position: relative;
	width: 50%;
	display: block;

}

.info{
	width: 50%;
	position: absolute;
	margin: 0;
	padding: 0;
	overflow: hidden;
	padding-bottom: 40.10%;
}


.info h1{
	margin: 0;
	left: 4rem;
	top: 5rem;
	bottom: 10rem;
	position: absolute;
	color: white;
	font-family: 'Inter', sans-serif;
    word-spacing: 2px;
    font-weight: 700;
    font-size: 2.5rem;
    text-align: left;
    width: 80%;   

}

.descript{ 
	margin: 0 0 0 0;
 	position: absolute;
 	top: 13rem;
 	left: 4rem;
	color: hsla(0, 0%, 100%, 0.75);
	line-height: 30px;
	font-family: 'Lexend Deca', sans-serif;
	font-size: 1.2rem;
	font-weight: 200;
	text-align: left;
	width: 80%;

}

.statcells{
	margin: 0;
	position: absolute;
	top: 21rem;
	left: 4rem;
	gap: 5px;
	padding: 0 8px;
	box-sizing: border-box;
	line-height: 30px;

}

.statcell_1 {
	text-align: left;
	width: 10%;
	position: absolute;
	margin-top: 0;


} 

.statcell_1 p{
	text-align: left;
	color: white;
	font-family: 'Inter', sans-serif;
    font-weight: 500;
}



.statcell_1 h2{
	display: block;
	font-family: 'Lexend Deca', sans-serif;
	color: hsla(0, 0%, 100%, 0.75);
	font-weight: 200;
    font-size: 1rem;
}

.statcell_2{
	text-align: left;
	width: 10%;
	position: absolute;
	margin-top: 0;
	margin-left: 12.5rem;

} 

.statcell_2 p{
	text-align: left;
	color: white;
	font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.statcell_2 h2{
	display: block;
	text-align: left;
	font-family: 'Lexend Deca', sans-serif;
	color: hsla(0, 0%, 100%, 0.75);
	font-weight: 200;
    font-size: 1rem;
}

.statcell_3{
	text-align: left;
	width: 10%;
	position: absolute;
	margin-top: 0;
	margin-left: 23rem;
} 

.statcell_3 p{
	text-align: left;
	color: white;
	font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 25px !important;
}

.statcell_3 h2{
	text-align: left;
	font-family: 'Lexend Deca', sans-serif;
	color: hsla(0, 0%, 100%, 0.75);
	font-weight: 200;
    font-size: 1rem;
} */
}











