* {margin: 0; padding: 0;}

.bg{
	background-color: hsl(233, 47%, 7%);
	width: 100%;
	height: 100vh;
	border
	box-sizing: border-box;
}

.card_content{
	display: flex;
	position: relative;
	background-color: hsl(244, 38%, 16%);
	margin-left: 6%;
	margin-right: 6%;
	top: 9%;
	bottom: 9%;
	height: 81%;
	border-radius: .5rem;
	box-sizing: border-box;
	overflow: hidden;
}

.card_content picture{
	position: absolute;
	width: 100%;
}

.card_content > picture > img{
	display: flex;
	position: relative;
	width: 100%; 
	height: auto;
}

h1{
	color: white;
	font-family: 'Inter', sans-serif;
	top: 6%;
    margin-left: 9%;
    margin-right: 9%;
    word-spacing: 2px;
    font-weight: 700;
    font-size: 1.7rem;
    text-align: center;
}

.info{
	position: relative;
	box-sizing: border-box;
	width: 100%;
	top: 33%;
	padding-top: 20px;
}

 .descript{ 
	color: hsla(0, 0%, 100%, 0.75);
	line-height: 1.5rem;
	font-family: 'Lexend Deca', sans-serif;
	font-size: .95rem;
	font-weight: 200;
	text-align: center;
	align-content: center;
	align-items:  center;
	margin-top: 1.3rem;
	margin-right: 11%;
	margin-left: 11%;
}

#statcells{
	position: relative;
	margin-top: 10%;
}

.statcells{
	position: absolute;
}



.statcell_1 p{
	text-align: center;
	color: white;
	font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

.statcell_1 h2{
	text-align: center;
	font-family: 'Lexend Deca', sans-serif;
	color: hsla(0, 0%, 100%, 0.75);
	font-weight: 200;
	font-size: 1rem;
	margin-top: 1%;
}

.statcell_2{
	position: absolute;
	text-align: center;

}

.statcell_2 p{
	color: white;
	font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

.statcell_2 h2{
	font-family: 'Lexend Deca', sans-serif;
	color: hsla(0, 0%, 100%, 0.75);
	font-weight: 200;
	font-size: 1rem;
	margin-top: 1%;
}

.statcell_3{
	position: absolute;
	text-align: center;
}

.statcell_3 p{
	color: white;
	font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

.statcell_3 h2{
	font-family: 'Lexend Deca', sans-serif;
	color: hsla(0, 0%, 100%, 0.75);
	font-weight: 200;
	font-size: 1rem;
	margin-top: 1%;
}


@media only screen and (min-width: 376px){


.card_content{
	top: 30%;
	display: flex;
	position: relative;
	background-color: hsl(244, 38%, 16%);
	border-radius: 5px;
	box-sizing: border-box;
	height: 33rem;
	width: 80rem;
	margin: auto;
}

.card_content > picture{
	position: absolute;
	margin-left: 50%;
	width: 100%;
	box-sizing: border-box;
}

.card_content > picture > img {
	position: relative;
	width: 50%;
	display: block;
}

+.info{
	position: relative;
	margin-top: 0;
	width: 50%;
	overflow: scroll;
}


h1{
	color: white;
	font-family: 'Inter', sans-serif;
	margin-top: 10%;
    margin-left: 12%;
    margin-right: 10%;
    word-spacing: 2px;
    font-weight: 700;
    font-size: 40px;
    text-align: left;
}

 .descript{ 
	color: hsla(0, 0%, 100%, 0.75);
	line-height: 30px;
	font-family: 'Lexend Deca', sans-serif;
	font-size: 18px;
	font-weight: 200;
	text-align: left;
	align-content: center;
	align-items:  center;
	margin-top: 4%;
	margin-left: 12%;
	margin-right: 15%;
	width: 70%;
}

.statcells{
	position: relative;
	margin-top: 11%;

}

.statcell_1{
	text-align: left;
	width: 10%;
	position: absolute;
	margin-right: 40rem;
	margin-left: 4rem;
	margin-top: 5rem;
} 
	margin-left: 12%;
}

.statcell_1 p{
	text-align: left;
	color: white;
	font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 25px !important;
}

.statcell_1 h2{
	display: block;
	font-family: 'Lexend Deca', sans-serif;
	color: hsla(0, 0%, 100%, 0.75);
	font-weight: 200;
	font-size: 12px !important;
}

.statcell_2{
	text-align: left;
	width: 10%;
	position: absolute;
	margin-left: 38%;
	margin-top: 0;
}
.statcell_2 p{
	text-align: left;
	color: white;
	font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 25px !important;
}

.statcell_2 h2{
	text-align: left;
	font-family: 'Lexend Deca', sans-serif;
	color: hsla(0, 0%, 100%, 0.75);
	font-weight: 200;
	font-size: 12px !important;
}

.statcell_3{
	width: 10%;
	position: absolute;
	margin-left: 64%;
	margin-top: 0;
}

.statcell_3 p{
	text-align: left;
	color: white;
	font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 25px !important;
}

.statcell_3 h2{
	text-align: left;
	font-family: 'Lexend Deca', sans-serif;
	color: hsla(0, 0%, 100%, 0.75);
	font-weight: 200;
	font-size: 12px !important;
}
}











